{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>정보 입력 페이지</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap">
    <link rel="stylesheet" href="{% static 'main.css' %}"> <!-- 새 CSS 파일 경로 -->
</head>
<body>
    <section>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>

        <div class="signin">
            <div class="content">
                <h2>정보 입력</h2>
                <form id="infoForm" method="post" action="{% url 'recommendation_view' %}">
                    {% csrf_token %}
                    <div class="form">
                        <div class="inputBox">
                            <input type="number" id="age" name="age" min="20" max="90"  required value="20">
                            <i>나이</i>
                        </div>
                        <div class="inputBox">
                            <select id="appUsage" name="appUsage" required>
                                <option value="" disabled selected>어플 사용 여부</option>
                                <option value="yes">예</option>
                                <option value="no">아니오</option>
                            </select>
                        </div>

                        <div class="inputBox">
                            <select id="life_stage" name="life_stage" required>
                                <option value="" disabled selected>생활 단계(직업)</option>
                                <option value="UNI">대학생</option>
                                <option value="NEW_JOB">사회초년생</option>
                                <option value="NEW_WED">신혼</option>
                                <option value="CHILD_BABY">자녀 영유아</option>
                                <option value="CHILD_TEEN">자녀 의무교육</option>
                                <option value="CHILD_UNI">자녀 대학생</option>
                                <option value="GOLLIFE">중년 (자녀 없음)</option>
                                <option value="SECLIFE">중년 (자녀 있음)</option>
                                <option value="RETIR">은퇴</option>
                            </select>
                        </div>
                        <div class="inputBox">
                            <input type="submit" value="카드 추천">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>

    <script>
        
        // 나이 입력을 20~90세로 제한
        function validateForm(event) {
        var ageInput = document.getElementById('age');
        var age = ageInput.value;

        // 나이가 20에서 90 사이인지 확인
        if (age < 20 || age > 90) {
            alert("나이는 20에서 90 사이여야 합니다.");
            event.preventDefault(); // 폼 제출을 막음
            return false;
        }
        return true;
        };
        const ageRangeMapping = {
            20: { min: 20, max: 24 },
            25: { min: 25, max: 29 },
            30: { min: 30, max: 34 },
            35: { min: 35, max: 39 },
            40: { min: 40, max: 44 },
            45: { min: 45, max: 49 },
            50: { min: 50, max: 54 },
            55: { min: 55, max: 59 },
            60: { min: 60, max: 64 },
            65: { min: 65, max: 69 },
            70: { min: 70, max: 74 },
            75: { min: 75, max: 79 },
            80: { min: 80, max: 84 },
            85: { min: 85, max: 90 }
        };

        const lifeStageMapping = {
    'UNI': '대학생',
    'NEW_JOB': '사회초년생',
    'NEW_WED': '신혼',
    'CHILD_BABY': '자녀 영유아',
    'CHILD_TEEN': '자녀 의무교육',
    'CHILD_UNI': '자녀 대학생',
    'GOLLIFE': '중년 (자녀 없음)',
    'SECLIFE': '중년 (자녀 있음)',
    'RETIR': '은퇴'
};

        function mapAgeToLifeStage() {
            const ageInput = document.getElementById('age').value;
            const age = parseInt(ageInput, 10);
            let mappedValue = '';

            for (const [key, range] of Object.entries(ageRangeMapping)) {
                if (age >= range.min && age <= range.max) {
                    mappedValue = key;
                    break;
                }
            }

            const lifeStageSelect = document.getElementById('life_stage');
            if (mappedValue) {
                if (!lifeStageSelect.value) {
                    lifeStageSelect.value = mappedValue;
                }
            } else {
                lifeStageSelect.value = ''; // 매핑된 값이 없을 경우 빈 값으로 설정
            }
        }

        document.getElementById('age').addEventListener('input', mapAgeToLifeStage);
        document.getElementById('infoForm').onsubmit = validateForm;
    </script>
</body>
</html>
